@using Microsoft.AspNetCore.Identity
@using Checlist.Domain.Enums
@inject SignInManager<User> SignInManager
@model IEnumerable<Checlist.Domain.DomainModels.Action.Action>
@{
    ViewBag.Title = "Action data";
}

@section Styles
{
    <style type="text/css">
        .table {
            margin-top: 50px;
        }

        td {
            vertical-align: middle !important;
        }

        .btn-create-open {
            margin-bottom: 10px;
        }

        .checkbox, .checkbox-input {
            width: 20px;
            height: 20px;
        }

        .checkbox-label {
            margin: 0;
        }

        .delete-item-icon {
            width: 30px;
        }

        .delete-action {
            cursor: pointer;
        }
    </style>
}

@await Html.PartialAsync("_CreatePartial")

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Done</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var action in ViewBag.Actions)
        {
            var index = ViewBag.Actions.IndexOf(action) + 1;
            <tr>
                <th scope="row">@index</th>
                <td>@action.Name</td>
                <td>@action.Date</td>
                <td>
                    <form method="post" action="@Url.Action("Update", "Action")">
                        <input name="actionId" type="hidden" value="@action.Id" />
                        <select name="state" onchange="this.form.submit()">
                            <option selected>@action.State</option>
                            @foreach (var state in Enum.GetValues(typeof(ActionState)))
                            {
                                if (state.ToString() != action.State.ToString())
                                {
                                    <option>@state</option>
                                }
                            }
                        </select>
                    </form>
                </td>
                <td><a class="delete-action"><img class="delete-item-icon" src="~/icons/delete-item.svg" /></a></td>
            </tr>
        }
    </tbody>
</table>